/* CSS RESET */
body, img, div, p{
	margin: 0px;
	padding: 0px;
	font-family: "Times New Roman", Times, serif;
	font-size: large;
}
body{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #FFF;
	text-align: left;
	margin: 0 0 0 0;
	font-weight: 900;
}
h1, h2, h3, h4, ul{padding:0px;margin:0;}
h1{font-size:24px;color:#696969;margin:0;}
h2{
	font-size: 24px;
	color: #810002;
}
h3{font-size:19px;color:black;}
img{border:0px;}
a{color:#000; text-decoration:none; outline-style:none;}
a:hover{text-decoration:underline;cursor:pointer;}
table{
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	float: right;
}

td{
	vertical-align: top;
	padding: 0px;
	border-collapse: collapse;
	box-sizing: content-box;
}
.cl{clear:left; font-size:0px; line-height:0px;}
form{display:inline;}
.cr{clear:right; font-size:0px; line-height:0px;}
.cb{clear:both; font-size:0px; line-height:0px;}
.left{float:left;}
.right{float:right;}
ul li{list-style:none;}
body{background:#3c1b1b url('../images/bg.png');}
.hide{display:none;}
.block{display:block;}
.italic{
	font-style:italic;
}
::selection{
	background:#ff5500;
	color:#fff;
}
p{
	color:#745454;
	padding-top:5px;
	line-height:16px;
}

#wrapper{
	margin: 38px auto 0 auto;
	width:880px;
}
#header{
	padding-top: 0;
	padding-right: 0px;
	padding-bottom: 0;
	padding-left: 20px;
}
#logo{
	float: left;
	width: 322px;
	height: 217px;
	display: block;
	text-indent: -9999px;
	background-image: url(../images/logo1.png);
}
.login{
	float: left;
	width: 500px;
	height: 100px;
	display: table;
	text-indent: -9999px;
	}
.logofooter{
	float:left;
	background:url('../images/logofooter.png');
	width:91px;
	height:27px;
	display:block;
	text-indent:-9999px;
	margin:25px;
}
#menu{
	margin:10px 0 0 0;
	float:right;
}
#menu li{
	display:inline-block;
	margin-left:8px;
	padding:10px;
}
#menu li:hover, #menu li.active{
	background:rgba(0,0,0, 0.2);
	-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
}

#menu li a{
	display:inline-block;
	color:#fff;
	font-size:15px;
	font-family: 'AllerRegular';
	text-transform:uppercase;
}

#main{
	margin: 42px 0 10px 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 15px 0 0 0;
	background-color: #FFFFFF;
}
#main .content{
	background:#fff;
	padding:15px;
}
.slider{
	margin:-15px -15px 0 -15px;
}
.slider p{
	color:#fff;
}
.slider h3{
	color: #fff;
	font-size: 24px;
	font-family: 'AllerBold';
	text-transform: uppercase;
}

.slider .yellow{background:#ffa710;}
.slider .orange{background:#ff5500;}
.slider .red{background:#df2203;}

.slider .items{
	width: 300px;
	height: 325px;
}
.slider .item{
	padding:25px 0 0 16px;
}
.slider .opened{
	height:165px;
}
.slider .item p{
	padding-right:10px;
}
.slider .closed{
	height: 40px;
	cursor: pointer;
}
.slider .closed p{
	display:none;
}
.slider .opened p{
	display:block;
}

.services{
	height: auto;
	margin-top: 33px;
	margin-right: 0;
	margin-bottom: 27px;
	margin-left: 0;
}
.services .service{
	width: 850px;
	float: left;
	height: auto;
}
.services .service h2{
	font-size: 20px;
	font-family: 'AllerBold';
	text-transform: uppercase;
	color: #81020A;
	line-height: 26px;
}

.services .servicer{
	width: 850px;
	float: left;
	height: auto;
}

.services .servicer h2{
	font-size: 20px;
	font-family: 'AllerBold';
	text-transform: uppercase;
	color: #81020A;
	line-height: 26px;
}

.services .servicebottom{
	width: 850px;
	float: left;
	height: auto;
}

.services .servicebottom h2{
	font-size: 20px;
	font-family: 'AllerBold';
	text-transform: uppercase;
	color: #81020A;
	line-height: 26px;
}
.services p{
	margin:15px 0 20px 0;
	display:inline-block;
	padding-right:10px;
}
.services .more{
	display:inline-block;
	background:url('../images/more-left.png') top left no-repeat;
	height:33px;
	padding-left:8px;
}
.services .more:hover span{
	text-decoration:underline;
}
.services .more span{
	display:inline-block;
	background:url('../images/more-right.png') top right no-repeat;
	height:31px;
	font-size:19px;
	font-family: 'AllerBold';
	text-transform:lowercase;
	color:#fff;
	padding:4px 8px 0 0;
}
.separator{
	background:#f8f8f8;
	height:6px;
	line-height:0;
	font-size:0;
}
div.small{
	height:2px;
}

.details{
	margin-top:25px;
	width:432px;
	float:left;
}
.details h1{
	color:black;
	font-size:25px;
	font-family: 'AllerBold';
	text-transform:uppercase;
	margin:15px 0 ;
	line-height:26px;
}
.details .image{
	border:1px solid #000;
}
.details .blackitalic{
	font-size:13px;
	color:black;
	font-style:italic;
	padding-bottom:10px;
}
.details .gray{
	font-size:12px;
	color:#888888;
}
.social{
	margin-top:25px;
	float:left;
	width:385px;
	margin-left:33px;
}
.social h3{
	color:black;
	font-size:18px;
	font-family: 'AllerBold';
	text-transform:uppercase;
	margin-bottom:20px;
}

.blog li{
	margin-bottom:19px;
	color:#a2a2a2;
}
.blog li .link{
	font-size:14px;
	color:black;
}
.blog li .date{
	font-size:11px;
	color:#a2a2a2;
}

.fbbox{
	width:350px;
	overflow:hidden;
}
.fbbox iframe{
	margin-left:-10px;
}

.twitter{
	background:#eae5e5;
	padding:0 10px 0 27px;
	height:45px;
}
.bird{
	padding-top:8px;
	float:left;
}
.twitter .text{
	float:left;
	font-size:11px;
	color:#969696;
	width:644px;
	padding:15px 0 0 10px;
	text-shadow:#fff 1px 1px 0;
	overflow:hidden;
}
.twitter .text a{
	text-decoration:underline;
	color:#969696;
}
.twitter .follow{
	padding-top:13px;
}
.footer{
	height:75px;
	padding-right:25px;
}
.footer .copyright{
	padding-top:30px;
	font-size:14px;
}
.footer .intouch span{
	display:inline-block;
	padding:7px 10px 0 0;
	font-size:14px;
	float:left;
}
.footer .intouch{
	padding-top:23px;
}

.credit{
	color: #fff;
	font-size: 14px;
	text-align: center;
	margin: 15px 0 25px 0;
	height: auto;
}
.credit a{
	text-decoration:underline;
	color:#fff;
}
.creditl{
	display:inline-block;
	text-indent:-9999px;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:16px;
	font-weight:bold;
	padding:6px 40px;
	text-decoration:none;
	text-shadow:0px 0px 0px #854629;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.myButton:active {
	position:relative;
	top:1px;
}
