<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FoodieClient</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>signup</display-name>
    <servlet-name>signup</servlet-name>
    <servlet-class>servlets.signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/View/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>onsignup</display-name>
    <servlet-name>onsignup</servlet-name>
    <servlet-class>servlets.onsignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>onsignup</servlet-name>
    <url-pattern>/View/onsignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signin</display-name>
    <servlet-name>signin</servlet-name>
    <servlet-class>servlets.signin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signin</servlet-name>
    <url-pattern>/View/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>member</display-name>
    <servlet-name>member</servlet-name>
    <servlet-class>servlets.member</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>member</servlet-name>
    <url-pattern>/View/member</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>home</display-name>
    <servlet-name>home</servlet-name>
    <servlet-class>servlets.home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/View/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>writereview</display-name>
    <servlet-name>writereview</servlet-name>
    <servlet-class>servlets.writereview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>writereview</servlet-name>
    <url-pattern>/View/writereview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminhome</display-name>
    <servlet-name>adminhome</servlet-name>
    <servlet-class>servlets.adminhome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminhome</servlet-name>
    <url-pattern>/View/adminhome</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>results</display-name>
    <servlet-name>results</servlet-name>
    <servlet-class>servlets.results</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>results</servlet-name>
    <url-pattern>/View/results</url-pattern>
  </servlet-mapping>
</web-app>